*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.conatiner .input_holder{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 650px;
    height: 450px;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    justify-content: center;
    gap: 25px;
}
.conatiner .input_holder h3{
    text-align: center;
}
.conatiner .input_holder .rooms{
    display: flex;
    gap: 30px;
    width: fit-content;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 2px 2px 8px black;
    margin: auto;
}
.conatiner .input_holder .rooms input{
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 2px solid red;
    font-weight: 600;
}
.conatiner .input_holder .rooms .rooms_name{
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conatiner .input_holder .rooms button{
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: 2px solid red;
    color: green;
    font-weight: 600;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}
.conatiner .input_holder .rooms button:active{
    background-color: red;
    color: black;
    border: 2px solid black;
}